@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-title: #c0c065;

  --primary: #7b7b3b;
  --main: #0b0b09;

  --slate-gray: #a1a1a1;
  --near-black: #1c1c16;
  --snow-white: #fdfdfd;
}

@theme inline {
  /* fonts */
  --font-jarkarta-sans: var(--font-jarkarta-sans);

  /* colors */
  --color-primary: var(--primary);
  --color-main: hsl(var(--main));
  --color-title-page: var(--color-title);
  --color-slate-gray: var(--slate-gray);
  --color-near-black: var(--near-black);
  --color-green-light: var(--green-light);
  --color-snow-white: var(--snow-white);

  /* breakpoints */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--main);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  color: white;
  font-family: var(--font-jarkarta-sans);
}
